body {
  font-family: system-ui, sans-serif;
  font-size: 12px;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

.panel-group {
  display: flex;
}

.panel {
  display: flex;
}

.resize-handle {
  display: block;
  flex-basis: 0.15rem;
  background-color: #3d3d3d;
}
